<app-header></app-header>

<div class = "AllDashboard animated fadeIn">

  <div class="BreadCs">
    <h5>Empleados en Proceso de Alta</h5>
  </div><!--BreadCs-->

	<div class="Dashboard scroller">

    <div class = "clearfix"></div><!--/clearfix-->
    <br />

    <div class = "col-sm-12">

      <table class = "table">
        <thead>
          <th>Nombre</th>
          <th>Empresa</th>
          <th>RFC</th>
          <th>Correo Electrónico</th>
          <th>Archivos</th>
          <th>Acciones</th>
        </thead>
        <tbody *ngFor = "let employee of employees_list; let i = index">
          <tr>
            <td>{{ employee.name }} {{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.company.name }}</td>
            <td>{{ employee.rfc }}</td>
            <td>{{ employee.email }}</td>
            <td>
                <a *ngIf = "employee.ine_file_url != null" class = "btn btn-info btn-sm" download href="{{ employee.ine_file_url }}" ngbTooltip="INE"><i class = "fa fa-vcard"></i></a>
                <a *ngIf = "employee.curp_file_url != null" class = "btn btn-info btn-sm" download href="{{ employee.curp_file_url }}" ngbTooltip="CURP"><i class = "fa fa-user-circle"></i></a>
                <a *ngIf = "employee.address_file_url != null" class = "btn btn-info btn-sm" download href="{{ employee.address_file_url }}" ngbTooltip="Comprobante de Domicilio"><i class = "fa fa-file-text-o"></i></a>
                <a *ngIf = "employee.contract_file_url != null" class = "btn btn-info btn-sm" download href="{{ employee.contract_file_url }}" ngbTooltip="Contrato"><i class = "fa fa-file-o"></i></a>
            </td>
            <td>
              <button *ngIf = "employee.ine_file_url != null && employee.curp_file_url != null && employee.address_file_url != null && employee.contract_file_url != null" class = "btn btn-info btn-sm" ngbTooltip="Convertir a Activo" (click) = "convertEmployee(i)">
                <i *ngIf="employee.loader == false" class = "fa fa-share"></i>
                <i *ngIf="employee.loader == true" class = "fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
              </button>
              <a routerLink = "/employee/{{ employee.id }}/edit" class = "btn btn-info btn-sm" role="button" aria-pressed="true"><i class = "fa fa-edit"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf = "loader == true" class = "text-center">
        <div class = "spinner-border" role = "status">
          <span class = "sr-only">Cargando...</span>
        </div><!--/spinner-border-->
      </div><!--/text-center-->

    </div><!--/col-sm-12-->

  </div><!--/Dashboard-->
</div><!--/AllDashboard-->
