.BreadCs {
  margin-bottom: 20px;
}

.no-padding {
  padding: 0;
}

.contenedor-apps {
  width: 50%;
  margin: 0 auto;
}

.app {
  width: 120px;
  height: 120px;
  margin: 5px 5px;
  background-color: black;
  padding: 25px;
  color: whitesmoke;
}

.app i {
  font-size: 2.3em;
}

.app span {
  display: block;
  font-size: 0.7em;
}

.app:hover {
  background-color: #FAC900;
  color: black;
  border: 3px solid whitesmoke;
}

.card{
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
}

.card-img, .card-img-top, .card-img-bottom {
  width: 80%;
  margin: 0 auto;
}

.card-selected{
  background-color: black;
  color: white;
}

.card-body{
  height: 100px;
}

@media screen and (max-width: 1199.98px) {
  .contenedor-apps {
    width: 45%;
  }

}

@media screen and (max-width: 991.98px) {
  .contenedor-apps {
    width: 50%;
  }

}
