.BreadCs {
  margin-bottom: 20px;
}

.no-padding {
  padding: 0;
}

.contenedor-apps {
  width: 50%;
  margin: 0 auto;
}

.app {
  width: 120px;
  height: 120px;
  margin: 5px 5px;
  background-color: black;
  padding: 25px;
  color: whitesmoke;
}

.app i {
  font-size: 2.3em;
}

.app span {
  display: block;
  font-size: 0.7em;
}

.app:hover {
  background-color: #FAC900;
  color: black;
  border: 3px solid whitesmoke;
}

.card{
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
}

.card-img, .card-img-top, .card-img-bottom {
  width: 80%;
  margin: 5px auto 0px auto;
}

.card-selected{
  background-color: black;
  color: white;
}

.card-body{
  height: 100px;
}

.p-relative{
  position: relative;
}

.center-sppiner{
  position: absolute;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: 100000;
}

.center{
  margin: 0 auto;
}

.message-info{
  font-size: 1.2rem;
}

@media screen and (max-width: 1199.98px) {
  .contenedor-apps {
    width: 45%;
  }

}

@media screen and (max-width: 991.98px) {
  .contenedor-apps {
    width: 50%;
  }

}
