<app-header></app-header>

<div class = "AllDashboard animated fadeIn">

    <div class="BreadCs">
      <h5>Importar Empleados</h5>
    </div><!--BreadCs-->

    <div class="Dashboard scroller">

    <div class = "clearfix"></div><!--/clearfix-->
    <br />

    <div class = "col-sm-12">

        <div class="row justify-content-md-center" *ngIf = "loader_data == true">
          <div class="col col-lg-2">
            <i class = "fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          </div>
        </div>

        <div *ngIf = "loader_data == false">

          <form [formGroup] = "importForm" (ngSubmit) = "onSubmit()">

              <div class="form-row">
                <div class = "form-group col-sm-6">
                  <label class = "col-form-label">Empresa</label>
                  <select class = "form-control" [ngClass]="{ 'is-invalid': submitted && c.company_id.errors }" id = "company_id" name = "company_id" formControlName = "company_id">
                    <option [ngValue]="company.id" *ngFor="let company of companies_list">{{company.name}}</option>
                  </select>
                </div><!--/form-group-->
              </div><!--/form-row-->

              <div class="form-row">
                <div class="custom-file col-md-6">
                  <input type = "file" class = "custom-file-input" [ngClass]="{ 'is-invalid': submitted && c.employee_file.errors }" id = "customFile" name = "employee_file" (change)="onFileSelect($event)" />
                  <label class="custom-file-label" for="customFile">{{(importForm.value.employee_file.name != null) ? importForm.value.employee_file.name: 'Seleccione un archivo' }}</label>
                </div><!--/custom-file-->
              </div><!--/form-row-->
              <br />
              <button type = "submit" class = "btn btn-primary">Importar Empleados</button>

          </form>

        </div>

    </div><!--/col-sm-12-->

</div><!--AllDashboard-->
