<app-header></app-header>

<div class="AllDashboard animated fadeIn">

  <div class="BreadCs">
    <h5>Metodos de Pago</h5>
  </div><!--BreadCs-->

	<div class="Dashboard scroller">

    <div class="col-sm-3">
      <button class="btn btn-gv" (click) = "open()"><i class="material-icons" style="vertical-align: middle;">add</i> Crear Metodo de Pago</button>
    </div><!--col-sm-3-->

    <div class = "clearfix"></div><!--/clearfix-->
    <br />

    <div class = "col-sm-12">
      <table class = "table">
        <thead>
          <th>Nombre</th>
          <th *ngIf = "currentUser.profile_id != 2 && currentUser.profile_id != 3">Empresa</th>
          <th>Acción</th>
        </thead>
        <tbody *ngFor="let methodPaymethods of list; let i = index">
          <tr>
            <td>{{ methodPaymethods.name }}</td>
            <td *ngIf = "currentUser.profile_id != 2 && currentUser.profile_id != 3">{{ methodPaymethods.company.name }}</td>
            <td>
              <button type = "button" class = "btn btn-info btn-sm" (click) = "edit(i)"><i class = "fa fa-edit"></i></button>
              <button [disabled] = "methodPaymethods.loader" type = "button" class = "btn btn-danger btn-sm" (click) = "delete(i)"><i *ngIf="methodPaymethods.loader == false" class = "fa fa-trash"></i><i *ngIf="methodPaymethods.loader == true" class = "fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf = "list_loader == true" class = "text-center">
        <div class = "spinner-border" role = "status">
          <span class = "sr-only">Cargando...</span>
        </div><!--/spinner-border-->
      </div><!--/text-center-->
    </div><!--/col-sm-12-->
  
  </div><!--/Dashboard-->
</div><!--/AllDashboard-->