<app-header></app-header>

<div class="AllDashboard animated fadeIn">

  <div class="BreadCs">
    <h5>Lista Respaldos SUA</h5>
  </div>
  <!--BreadCs-->

  <div class="Dashboard scroller">

    <div class="row">
      <div class="col-sm-4">
        <button class="btn btn-gv" (click)="openModal()">
          <i class="material-icons" style="vertical-align: middle;">add</i>
          Crear Respaldos SUA
        </button>
      </div>
      <!--col-sm-3-->

      <div class="col-sm-3">
        <button type="button" class="btn  btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilter">Busqueda Avanzada</button>
      </div>
    </div>

    <div class="clearfix"></div>
    <!--/clearfix-->
    <br />

    <div id="collapseFilter" [ngbCollapse]="isCollapsed">
      <div class="card card-body">
        <form class="row" [formGroup]="form">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Fecha</label>
              <input type="text" class="form-control form-control-sm" placeholder="Periodo" maxlength="105"
                formControlName="date" />
            </div>
            <!--/form-group-->
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Periodo</label>
              <input type="text" class="form-control form-control-sm" maxlength="100" placeholder="Periodo"
                formControlName="period" />
            </div>
            <!--/form-group-->
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Obra</label>
              <input type="text" class="form-control form-control-sm" maxlength="100" placeholder="Obra"
                formControlName="obra" />
            </div>
            <!--/form-group-->
          </div>

          <div class="col-3 d-flex">
            <div class="float-right align-self-center">
              <button type="button" class="btn btn-success" (click)="search()">Buscar</button>
              <button type="button" class="btn btn-danger ml-1" (click)="cleanSearch()">Mostrar todos</button>
            </div>

            <!--/col-sm-4-->
          </div>

        </form>
        <!--/row-->

      </div>
      <!--/card-->
    </div>

    <div class="col-sm-12">

      <table class="table">
        <thead>
          <th>Fecha</th>
          <th>Empresa</th>
          <th>Periodo</th>
          <th>Obra</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let sua of suaList; let i = index">
            <td>{{ sua.date }} </td>
            <td>{{ sua.company?.name }} </td>
            <td>{{ sua.period }}</td>
            <td>{{ sua.obra }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm mr-1"
                      (click)="downloadFiles(sua)">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i>
              </button>
              <button class="btn btn-info btn-sm" (click)="editSUA(sua)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-danger btn-sm ml-1" (click)="deleteSUA(i, sua.id)"><i
                  class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="loader==true" class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
        <!--/spinner-border-->
      </div>
      <!--/text-center-->

    </div>
    <!--/col-sm-12-->


  </div>
  <!--/Dashboard-->

</div>
<!--/AllDashboard-->
