<app-header></app-header>

<div class="AllDashboard animated fadeIn">

  <div class="BreadCs">
    <h5>Todos los Empleados</h5>
  </div>


  <!--BreadCs-->

  <div class="Dashboard scroller">

    <div class="row justify-content-between">

      <div class="mt-2 mb-2 ml-3">
        <button type="button" class="btn btn-gv" routerLink="/employee/create"><i class="material-icons"
            style="vertical-align: middle;">add</i> Crear
          Empleado</button>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn  btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilter">Busqueda Avanzada</button>
      </div>
    </div>


    <div id="collapseFilter" [ngbCollapse]="isCollapsed">
      <div class="card card-body">

        <div class="row">

          <div class="col-sm-2">
            <div class="form-group">
              <label for="">Código</label>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="filter.code"
                placeholder="Código" maxlength="45" />
            </div><!--/form-group-->
          </div><!--/col-sm-2-->

          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Nombre del empleado</label>
              <input type="text" class="form-control form-control-sm" maxlength="100" [(ngModel)]="filter.name"
                placeholder="Nombre del empleado" />
            </div><!--/form-group-->
          </div><!--/col-sm-4-->

          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Apellido paterno</label>
              <input type="text" class="form-control form-control-sm" maxlength="100" [(ngModel)]="filter.first_name"
                placeholder="Apellido paterno" />
            </div><!--/form-group-->
          </div><!--/col-sm-4-->

          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Apellido materno</label>
              <input type="text" class="form-control form-control-sm" maxlength="100" [(ngModel)]="filter.last_name"
                placeholder="Apellido materno" />
            </div><!--/form-group-->
          </div><!--/col-sm-4-->

          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Correo electrónico</label>
              <input type="email" class="form-control form-control-sm" maxlength="100" [(ngModel)]="filter.email"
                placeholder="Correo electrónico" />
            </div><!--/form-group-->
          </div><!--/col-sm-3-->

          <div class="row">
            <div class="col-sm-4">
              <button type="button" class="btn btn-success" (click)="getEmployeesByStatus(page)">Buscar</button>
            </div>
            <!--/col-sm-4-->
            <div class="col-sm-8">
              <button type="button" class="btn btn-danger" (click)="reset()">Limpiar campos</button>
            </div>
            <!--/col-sm-4-->
          </div>

        </div><!--/row-->

      </div><!--/card-->
    </div>

    <div class="clearfix"></div>
    <!--/clearfix-->
    <br />

    <div class="col-sm-12">

      <table class="table">
        <thead>
          <th>Código</th>
          <th>Nombre</th>
          <th>Empresa</th>
          <th>RFC</th>
          <th>Correo Electrónico</th>
          <th>Status</th>
          <th>Archivos</th>
          <th>Acciones</th>
        </thead>
        <tbody *ngFor="let employee of employees_list; let i = index">
          <tr>
            <td>{{ employee.code }}</td>
            <td>{{ employee.name }} {{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.company.name }}</td>
            <td>{{ employee.rfc }}</td>
            <td>{{ employee.email }}</td>
            <td>
              <span *ngIf="employee.work_status_id == 1" class="badge badge-primary">En proceso de alta</span>
              <span *ngIf="employee.work_status_id == 2" class="badge badge-secondary">En proceso de reingreso</span>
              <span *ngIf="employee.work_status_id == 3" class="badge badge-success">Activo</span>
              <span *ngIf="employee.work_status_id == 4" class="badge badge-danger">En proceso de baja</span>
              <span *ngIf="employee.work_status_id == 5" class="badge badge-warning">Dado de baja</span>
            </td>
            <td>
              <a *ngIf="employee.ine_file_url != null" class="btn btn-info btn-sm" download
                href="{{ employee.ine_file_url }}" ngbTooltip="INE"><i class="fa fa-vcard"></i></a>
              <a *ngIf="employee.curp_file_url != null" class="btn btn-info btn-sm" download
                href="{{ employee.curp_file_url }}" ngbTooltip="CURP"><i class="fa fa-user-circle"></i></a>
              <a *ngIf="employee.address_file_url != null" class="btn btn-info btn-sm" download
                href="{{ employee.address_file_url }}" ngbTooltip="Comprobante de Domicilio"><i
                  class="fa fa-file-text-o"></i></a>
              <a *ngIf="employee.contract_file_url != null" class="btn btn-info btn-sm" download
                href="{{ employee.contract_file_url }}" ngbTooltip="Contrato"><i class="fa fa-file-o"></i></a>
              <a *ngIf="employee.imss_file_url != null" class="btn btn-info btn-sm" download
                href="{{ employee.imss_file_url }}" ngbTooltip="Alta del IMSS"><i class="fa fa-hospital-o"></i></a>
            </td>
            <td>
              <button ngbTooltip="Editar Empleado" routerLink="/employee/{{ employee.id }}/edit"
                class="btn btn-info btn-sm" role="button" type="button" aria-pressed="true"><i
                  class="fa fa-edit"></i></button>
              <button ngbTooltip="Exportar a Excel" type="button" class="btn btn-sm btn-success ml-1"
                (click)="generateExcel(employee)"><i class="fa fa-file-excel-o"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="loader == true" class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Cargando...</span>
        </div>
        <!--/spinner-border-->
      </div>
      <!--/text-center-->

      <ng-container *ngIf="last_page > 1">
        <nav *ngIf="loader == false">
          <ul class="pagination justify-content-center">
            <li *ngIf="page > 1" class="page-item">
              <button type="button" class="page-link" aria-label="Previo" (click)="getEmployeesByStatus(page-1)">
                <span aria-hidden="true">&laquo;</span>
              </button>
            </li>
            <ng-container *ngFor="let n of [].constructor(last_page); let i = index">
              <li [ngClass]="(i == page-1) ? 'active': false" class="page-item" (click)="getEmployeesByStatus(i+1)">
                <button class="page-link">{{ i+1 }}</button></li>
            </ng-container>
            <li *ngIf="page < last_page" class="page-item">
              <button type="button" class="page-link" aria-label="Siguiente" (click)="getEmployeesByStatus(page+1)">
                <span aria-hidden="true">&raquo;</span>
              </button>
            </li>
          </ul>
        </nav>
      </ng-container>

    </div>
    <!--/col-sm-12-->

  </div>
  <!--/Dashboard-->
</div>
<!--/AllDashboard-->
