<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Respaldo SUA</h4>
</div>
<!--/modal-header-->
<form [formGroup]="form" (submit)="submit()">
  <div class="modal-body">

    <div class="col-lg-12">

      <div class="form-row">
        <div class="form-group col-sm-6">
          <label [ngClass]="{'text-danger': submited && dateRequired}">Fecha</label>
          <div class="input-group">
            <input class="form-control" placeholder="Fecha" name="date" formControlName="date"
              [ngClass]="{'is-invalid': submited && dateRequired}">
          </div>
          <small *ngIf="submited && dateRequired" class="text-danger">El campo es requerido.</small>
          <!--/input-group-->

        </div>
        <!--/form-group-->
      </div>
      <!--/form-row-->

      <div class="form-row">
        <div class="form-group col-sm-6">
          <label [ngClass]="{'text-danger': submited && periodRequired}">Periodo</label>
          <div class="input-group">
            <input class="form-control" placeholder="Periodo" name="period" formControlName="period"
              [ngClass]="{'is-invalid': submited && periodRequired}">
          </div>
          <small *ngIf="submited && periodRequired" class="text-danger">El campo es requerido.</small>
          <!--/input-group-->
        </div>
        <!--/form-group-->
      </div>
      <!--/form-row-->

    </div>
    <!--/col-lg-12-->

    <div class="col-md-12">
      <br />
      <div class="card">
        <div class="card-header">
          Archivo respaldo
        </div>
        <div class="card-body">

          <div class="form-row" *ngIf="suaEdit.file_backup == null">
            <div class="custom-file">
              <input [disabled]="loader" type="file" class="custom-file-input" id="respaldo_files_label"
                (change)="onFileSelect($event, 'backup')" />
              <label class="custom-file-label" for="respaldo_files_label">Archivo respaldo</label>
            </div>
            <!--/custom-file-->
          </div>
          <!--/form-row-->

          <table class="table" *ngIf="suaEdit.file_backup != null">
            <thead>
              <th>Nombre</th>
              <th>Acciones</th>
            </thead>
            <tbody>
              <tr>
                <td>{{suaEdit.file_backup}}</td>
                <td>
                  <a *ngIf="suaEdit.file_backup_route != null" class="btn btn-info btn-sm" download
                    href="{{ suaEdit.file_backup_route }}" target="blank">
                    <i class="fa fa-cloud-download"></i></a>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteFileEdit('backup')"><i
                      class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--/card-body-->
      </div>
      <!--/card-->
    </div>
    <!--/col-md-12-->

    <div class="col-md-12">
      <br />
      <div class="card">
        <div class="card-header">
          Emisión mensual
        </div>
        <div class="card-body">

          <table class="table" *ngIf="hasCurrentFiles.length > 0">
            <thead>
              <th>Nombre</th>
              <th>Descargar</th>
            </thead>
            <tbody *ngFor="let currentFile of suaEdit.monthly_files_current; let i = index">
              <tr *ngIf="currentFile.delete_file == false">
                <td>{{ currentFile.file_name }}</td>
                <td>
                  <a class="btn btn-info btn-sm" download href="{{ currentFile.file_route }}"><i
                      class="fa fa-cloud-download"></i></a>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteFileCurrents(i)"><i
                      class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>


          <div class="form-row">
            <div class="custom-file">
              <input [disabled]="loader" type="file" class="custom-file-input" id="emision_files_label"
                (change)="onFileSelectEmision($event)" />
              <label class="custom-file-label" for="emision_files_label">Emisión mensual</label>
            </div>
            <!--/custom-file-->
          </div>
          <!--/form-row-->

          <table class="table" *ngIf="emisionList.length > 0">
            <thead>
              <th>Nombre</th>
              <th>Eliminar</th>
            </thead>
            <tbody *ngFor="let emision of emisionList; let i = index">
              <tr>
                <td>{{ emision.file_name }}</td>
                <td>
                  <button [disabled]="loader" type="button" class="btn btn-danger btn-sm"
                    (click)="deleteFileEmision(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--/card-body-->
      </div>
      <!--/card-->
    </div>
    <!--/col-md-12-->

    <div class="col-md-12">
      <br />
      <div class="card">
        <div class="card-header">
          Importe a pagar
        </div>
        <div class="card-body">

          <div class="form-row" *ngIf="suaEdit.file_amount == null">
            <div class="custom-file">
              <input [disabled]="loader" type="file" class="custom-file-input" id="importe_files_label"
                (change)="onFileSelect($event, 'amount')" />
              <label class="custom-file-label" for="importe_files_label">Importe a pagar</label>
            </div>
            <!--/custom-file-->
          </div>
          <!--/form-row-->

          <table class="table" *ngIf="suaEdit.file_amount != null">
            <thead>
              <th>Nombre</th>
              <th>Descargar</th>
            </thead>
            <tbody>
              <tr>
                <td>{{ suaEdit.file_amount }}</td>
                <td>
                  <a *ngIf="suaEdit.file_amount_route != null" class="btn btn-info btn-sm" download
                    href="{{ suaEdit.file_amount_route }}"><i class="fa fa-cloud-download"></i></a>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteFileEdit('amount')"><i
                      class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--/card-body-->
      </div>
      <!--/card-->

    </div>
    <!--/col-md-12-->

  </div>
  <!--/modal-body-->
  <div class="modal-footer">
    <button [disabled]="loader == true" type="button" class="btn btn-outline-danger"
      (click)="close(true)">Cerrar</button>
    <button *ngIf="loader == false" type="submit" class="btn btn-primary">{{btnText}}</button>
    <i *ngIf="loader == true" class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
  </div>
  <!--/modal-footer-->
</form>
