<header>
  <div class="Menu">
    <div class="row">
      <div class="col LogoNavBar">
        <ul class="nav">
          <li class="nav-item AllMenu">
            <a id="BtnMenuShow" class="nav-link" href="#"><i class="material-icons">menu</i></a>
          </li>
          <li class="Logotipo">
            <a href="/"><img src="assets/images/gruasvillarreal_logo.svg" alt="Esifiscal"></a>
          </li>
        </ul>
      </div>

      <div class="col MenuRight">
        <ul class="justify-content-end">

          <!-- avatar -->
          <li class="nav-item dropdown ListRight Avatar" ngbDropdown>
            <a ngbDropdownToggle id="navbarDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <div class="AvatTxt">
                {{ currentUser.name }}
              </div>
              <div class="Img">
                <img src="assets/images/avatar.jpg" alt="">
              </div>

            </a>
            <div ngbDropdownMenu class="dropdown-menu animated bounceInDown" aria-labelledby="navbarDropdown">
              <a ngbDropdownItem  (click) = "logout()" class="DropA"><i style="vertical-align: middle;" class="material-icons">power_settings_new</i> Cerrar Sesión</a>
            </div>
          </li>
          <!-- fin avatar -->
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="AllSideBar SideNav_S animated fadeInLeft">

	<div class="MiniSideNav scroller">
		<ul>
			<li class="IconRoot" *ngFor="let m of userMenu; let i = index">

        <a *ngIf = "m.url != null" routerLink="/{{ m.url }}">
          <div *ngIf = "router.url == m.url" class="Activ"></div>
					<i class="material-icons">{{ m.icon }}</i>
					<span>{{ m.name }}</span>
        </a>
        
        <a *ngIf = "m.url == null" target="_self" (click) = "OpensubMenu(i)" style="cursor: pointer;">
          <i class="material-icons">{{ m.icon }}</i>
          <span>{{ m.name }}</span>
        </a>

			</li>
    </ul>
  </div><!--/MiniSidebar-->

	<div *ngIf = "submenu.length > 0" class="SideNav scroller">
      <ul>
        <li>
            <i style="vertical-align: middle; color: white; cursor: pointer" class="material-icons" (click) = "submenu = []" >arrow_back</i>
        </li>
        <li *ngFor = "let sm of submenu; let i = index">
          <a routerLink = "{{ sm.url }}"><i style="vertical-align: middle;" class="material-icons">assignment_turned_in</i> {{ sm.name }}</a>
        </li>
      </ul>
    </div>

</div><!--/AllSidebar-->

