<app-header></app-header>

<div class="AllDashboard animated fadeIn">

  <div class="BreadCs">
    <h5>Usuarios</h5>
  </div><!--BreadCs-->

	<div class="Dashboard scroller">

    <div class="col-sm-3">
      <button class="btn btn-gv" (click) = "open()"><i class="material-icons" style="vertical-align: middle;">add</i> Crear Usuario</button>
    </div><!--col-sm-3-->
  
    <div class = "clearfix"></div><!--/clearfix-->
    <br />

    <div class = "col-sm-12">
      <table class = "table">
        <thead>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>Perfil</th>
          <th>Acciones</th>
        </thead>
        <tbody *ngFor="let user of users_list; let i = index">
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.group.name }}</td>
            <td>
              <button type = "button" class = "btn btn-info btn-sm" (click) = "edit(i)"><i class = "fa fa-edit"></i></button>
              <button [disabled] = "user.loader" type = "button" class = "btn btn-danger btn-sm" (click) = "delete(i)"><i *ngIf="user.loader == false" class = "fa fa-trash"></i><i *ngIf="user.loader == true" class = "fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf = "user_loader == true" class = "text-center">
        <div class = "spinner-border" role = "status">
          <span class = "sr-only">Cargando...</span>
        </div><!--/spinner-border-->
      </div><!--/text-center-->

    </div><!--col-sm-12-->


    <ng-container *ngIf="last_page > 1">
      <nav *ngIf = "user_loader == false" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li *ngIf="page > 1" class="page-item">
            <button type = "button" class="page-link" aria-label="Previo" (click)="gerUsersList(page-1)">
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
          <ng-container *ngFor="let n of [].constructor(last_page); let i = index">
          <li [ngClass]="(i == page-1) ? 'active': false" class="page-item" (click) ="gerUsersList(i+1)"><button class="page-link">{{ i+1 }}</button></li>
          </ng-container>
          <li *ngIf="page < last_page" class="page-item">
            <button type = "button" class="page-link" aria-label="Siguiente" (click)="gerUsersList(page+1)">
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
    </ng-container>

  </div><!--/dashboard-->
</div><!--/AllDashboard-->
