<div class="modal-header">
  <h4 class="modal-title" id = "modal-basic-title">Nomina</h4>
</div><!--/modal-header-->
<form [formGroup] = "nominaForm" (ngSubmit) = "onSubmit()">
  <div class="modal-body">

    <div class = "col-lg-12">

      <div class="form-row">
        <div class = "form-group col-sm-6">
          <label>Fecha</label>
          <div class="input-group">
            <input class="form-control" [ngClass]="{ 'is-invalid': submitted && c.date.errors }" placeholder="yyyy-mm-dd" name="date"  ngbDatepicker #d1="ngbDatepicker" formControlName = "date">
            <div class="input-group-append">
              <button type="button" class = "btn btn-outline-secondary calendar" (click) = "d1.toggle()"><i class = "fa fa-calendar"></i></button>
            </div><!--/input-group-append-->
          </div><!--/input-group-->
          <div *ngIf = "submitted && c.date.errors" class = "invalid-feedback">
            <div *ngIf="c.date.errors.required">Este campo es requerido.</div>
          </div><!--/invalid-feedback-->
        </div><!--/form-group-->
      </div><!--/form-row-->

      <div class="form-row">
        <div class = "form-group col-sm-6">
          <label>Periodo</label>
          <div class="input-group">
            <input class="form-control" [ngClass]="{ 'is-invalid': submitted && c.period.errors }" placeholder="yyyy-mm-dd" name="period"  ngbDatepicker #d2="ngbDatepicker" formControlName = "period">
            <div class="input-group-append">
              <button type="button" class = "btn btn-outline-secondary calendar" (click) = "d2.toggle()"><i class = "fa fa-calendar"></i></button>
            </div><!--/input-group-append-->
          </div><!--/input-group-->
          <div *ngIf = "submitted && c.period.errors" class = "invalid-feedback">
            <div *ngIf="c.period.errors.required">Este campo es requerido.</div>
          </div><!--/invalid-feedback-->
        </div><!--/form-group-->
      </div><!--/form-row-->

      <div class="form-row">
        <div class = "form-group col-sm-6">
          <label>Obra</label>
          <div class="input-group">
            <input class="form-control" [ngClass]="{ 'is-invalid': submitted && c.obra.errors }" name="obra" formControlName = "obra">
          </div><!--/input-group-->
          <div *ngIf = "submitted && c.obra.errors" class = "invalid-feedback">
            <div *ngIf="c.obra.errors.required">Este campo es requerido.</div>
          </div><!--/invalid-feedback-->
        </div><!--/form-group-->
      </div><!--/form-row-->

    </div><!--/col-lg-12-->

    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          Archivos Excel
        </div>
        <div class="card-body">

          <table class = "table" *ngIf = "excel_edit.length > 0">
            <thead>
              <th>Nombre</th>
            </thead>
            <tbody *ngFor = "let ef of excel_edit; let i = index">
              <tr>
                <td>{{ ef.name }}</td>
              </tr>
            </tbody>
          </table>

          <div class="form-row">
            <div class="custom-file">
              <input [disabled] = "loader" type = "file" class = "custom-file-input" id = "excel_files_label" name = "excel_files" (change)="onFileSelectExcel($event)" />
              <label class="custom-file-label" for="excel_files_label">Archivo de Excel</label>
            </div><!--/custom-file-->
          </div><!--/form-row-->

          <table class = "table">
            <thead>
              <th>Nombre</th>
              <th>Eliminar</th>
            </thead>
            <tbody *ngFor = "let efile of excel_files; let i = index">
              <tr>
                <td>{{ efile.name }}</td>
                <td>
                  <button [disabled] = "loader" class = "btn btn-danger btn-sm" (click) = "deleteFileExcel(i)">
                    <i class = "fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div><!--/card-body-->
      </div><!--/card-->

      <br />

      <div class="card">
        <div class="card-header">
          Archivos de Dispersion
        </div>
        <div class="card-body">

          <table class = "table" *ngIf = "dispersion_edit.length > 0">
            <thead>
              <th>Nombre</th>
            </thead>
            <tbody *ngFor = "let df of dispersion_edit; let i = index">
              <tr>
                <td>{{ df.name }}</td>
              </tr>
            </tbody>
          </table>


          <div class="form-row">
            <div class="custom-file">
              <input [disabled] = "loader" type = "file" class = "custom-file-input" id = "dispersion_files_label" name = "dispersion_files" (change)="onFileSelectDispersion($event)" />
              <label class="custom-file-label" for="dispersion_files_label">Archivo de Dispersion</label>
            </div><!--/custom-file-->
          </div><!--/form-row-->

          <table class = "table">
            <thead>
              <th>Nombre</th>
              <th>Eliminar</th>
            </thead>
            <tbody *ngFor = "let dfile of dispersion_files; let i = index">
              <tr>
                <td>{{ dfile.name }}</td>
                <td>
                  <button [disabled] = "loader" class = "btn btn-danger btn-sm" (click) = "deleteFileDispersion(i)">
                    <i class = "fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div><!--/card-body-->
      </div><!--/card-->

    </div><!--/col-md-12-->

  </div><!--/modal-body-->
  <div class = "modal-footer">
      <button [disabled]="loader == true" type = "button" class = "btn btn-outline-danger" (click) = "Close()">Cerrar</button>
    <button *ngIf="loader == false" type = "submit" class = "btn btn-primary">Crear Nomina</button>
    <i *ngIf="loader == true" class = "fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
  </div><!--/modal-footer-->
</form>


