<form [formGroup]="workForm" (ngSubmit)="onSubmit()">

  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Datos Generales</a>
      <ng-template ngbNavContent>

        <div class="form-row">

          <div class="col-sm-2 Picture">
            <label for="">Fotografia del Empleado</label>
            <img
              src="{{ workForm.value.employee_photo != null ? workForm.value.employee_photo: '/assets/images/avatar.png' }}"
              alt="Fotografia del Empleado"><br><br>
            <!-- <img *ngIf="workForm.value.employee_photo != null" src="{{ workForm.value.employee_photo }}"
            alt="Fotografia del Empleado"><br><br> -->
            <div class="Box t_center">
              <input type="file" id="employee_photo" class="inputfile inputfile-1"
                (change)="onFileSelectEmployeePhoto($event)">
              <label *ngIf="employee_photo_file == null" for="employee_photo" title="Fotografia del Empleado">
                <i class="fa fa-upload"></i> <span class="iborrainputfile"></span>
              </label>
              <button *ngIf="employee_photo_file != null" type="button" class="btn btn-danger btn-sm"
                (click)="onSelectFileDeleteEmployeePhoto()">
                <i class="fa fa-trash"></i> <span class="iborrainputfile"></span>
              </button>
            </div>
            <!--/Box-->
          </div>
          <!--/Picture-->

          <div class="col-sm-10">

            <div class="row">

              <div class="col-md-3 form-group">
                <label>Empresa <i *ngIf="loader_data == true" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                </label>
                <select [disableControl]="loader_data" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && companieRequired }" id="company_id" name="company_id"
                  (change)="ChangeCompany()" formControlName="company_id">
                  <option [ngValue]="company.id" *ngFor="let company of company_list">{{company.name}}</option>
                </select>
                <div *ngIf="submitted && companieRequired" class="invalid-feedback">
                  <div *ngIf="companieRequired">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Código <span style="position: absolute;
                  right: 18px;" class="text-muted">último - {{last_code}}</span></label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.code.errors }"
                  id="code" name="code" formControlName="code" maxlength="45" placeholder="Código" />
                <div *ngIf="submitted && c.code.errors" class="invalid-feedback">
                  <div *ngIf="c.code.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="form-group col-md-3">
                <label>Fecha de Alta</label>
                <div class="input-group">
                  <input class="form-control" [ngClass]="{ 'is-invalid': submitted && c.discharge_date.errors }"
                    placeholder="yyyy-mm-dd" name="discharge_date" ngbDatepicker #d1="ngbDatepicker"
                    formControlName="discharge_date">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary calendar" (click)="d1.toggle()"><i
                        class="fa fa-calendar"></i></button>
                  </div>
                  <!--/input-group-append-->
                </div>
                <!--/input-group-->
                <div *ngIf="submitted && c.discharge_date.errors" class="invalid-feedback">
                  <div *ngIf="c.discharge_date.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.name.errors }"
                  id="name" name="name" formControlName="name" maxlength="100" placeholder="Nombre" />
                <div *ngIf="submitted && c.name.errors" class="invalid-feedback">
                  <div *ngIf="c.name.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Apellido Paterno</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.first_name.errors }"
                  id="first_name" name="first_name" formControlName="first_name" maxlength="100"
                  placeholder="Apellido Paterno" />
                <div *ngIf="submitted && c.first_name.errors" class="invalid-feedback">
                  <div *ngIf="c.first_name.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Apellido Materno</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.last_name.errors }"
                  id="last_name" name="last_name" formControlName="last_name" maxlength="100"
                  placeholder="Apellido Materno" />
                <div *ngIf="submitted && c.last_name.errors" class="invalid-feedback">
                  <div *ngIf="c.last_name.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email" maxlength="100"
                  placeholder="Correo Electrónico" />
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Tipo de Contrato</label>
                <select [disableControl]="loader_data" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && c.contract_type_id.errors }" id="contract_type_id"
                  name="contract_type_id" formControlName="contract_type_id">
                  <option [ngValue]="contract.id" *ngFor="let contract of contract_types_list">{{contract.name}}
                    {{contract.description}}</option>
                </select>
                <div *ngIf="submitted && c.contract_type_id.errors" class="invalid-feedback">
                  <div *ngIf="c.contract_type_id.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>RFC</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.rfc.errors }" id="rfc"
                  name="rfc" formControlName="rfc" maxlength="13" placeholder="RFC" />
                <div *ngIf="submitted && c.rfc.errors" class="invalid-feedback">
                  <div *ngIf="c.rfc.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>CURP</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.curp.errors }"
                  id="curp" name="curp" formControlName="curp" maxlength="22" placeholder="CURP" />
                <div *ngIf="submitted && c.curp.errors" class="invalid-feedback">
                  <div *ngIf="c.curp.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Sexo</label>
                <select class="form-control" [ngClass]="{ 'is-invalid': submitted && c.sex_id.errors }" id="sex_id"
                  name="sex_id" formControlName="sex_id">
                  <option [ngValue]="sex.id" *ngFor="let sex of sexs_list">{{sex.name}}</option>
                </select>
                <div *ngIf="submitted && c.sex_id.errors" class="invalid-feedback">
                  <div *ngIf="c.sex_id.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Ciudad de Nacimiento</label>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.birth_city.errors }"
                  id="birth_city" name="birth_city" formControlName="birth_city" maxlength="100"
                  placeholder="Ciudad de Nacimiento" />
                <div *ngIf="submitted && c.birth_city.errors" class="invalid-feedback">
                  <div *ngIf="c.birth_city.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="form-group col-md-3">
                <label>Fecha de Nacimiento</label>
                <div class="input-group">
                  <input class="form-control" [ngClass]="{ 'is-invalid': submitted && c.birth_date.errors }"
                    placeholder="dd-mm-yyyy" name="birth_date" ngbDatepicker #d="ngbDatepicker"
                    formControlName="birth_date">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary calendar" (click)="d.toggle()"><i
                        class="fa fa-calendar"></i></button>
                  </div>
                  <!--/input-group-append-->
                </div>
                <!--/input-group-->
                <div *ngIf="submitted && c.birth_date.errors" class="invalid-feedback">
                  <div *ngIf="c.birth_date.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Nombre del Padre</label>
                <input type="text" class="form-control" id="fathers_name" name="fathers_name"
                  formControlName="fathers_name" maxlength="255" placeholder="Nombre del Padre" />
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Nombre de la Madre</label>
                <input type="text" class="form-control" id="mothers_name" name="mothers_name"
                  formControlName="mothers_name" maxlength="255" placeholder="Nombre de la Madre" />
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Dirección Actual</label>
                <input type="text" class="form-control" id="current_address" name="current_address"
                  formControlName="current_address" maxlength="255" placeholder="Dirección Actual" />
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Población Actual</label>
                <input type="text" class="form-control" id="current_population" name="current_population"
                  formControlName="current_population" maxlength="255" placeholder="Población Actual" />
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Estado Actual</label>
                <input type="text" class="form-control" id="current_state" name="current_state"
                  formControlName="current_state" maxlength="100" placeholder="Estado Actual" />
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>CP</label>
                <input type="text" class="form-control" id="cp" name="cp" formControlName="cp" maxlength="10"
                  placeholder="CP" />
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Teléfono</label>
                <input type="text" class="form-control" id="telephone" name="telephone" formControlName="telephone"
                  maxlength="20" placeholder="Teléfono" />
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Tipo de Periodo</label>
                <select [disableControl]="loader_data" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && c.period_type_id.errors }" id="period_type_id"
                  name="period_type_id" formControlName="period_type_id">
                  <option [ngValue]="period.id" *ngFor="let period of period_types_list">{{period.name}}</option>
                </select>
                <div *ngIf="submitted && c.period_type_id.errors" class="invalid-feedback">
                  <div *ngIf="c.period_type_id.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Departamento</label>
                <select [disableControl]="loader_data" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && c.department_id.errors }" id="department_id"
                  name="department_id" formControlName="department_id" (change)="ChangeDepartment()">
                  <option [ngValue]="department.id" *ngFor="let department of departments_list">{{department.name}}
                  </option>
                </select>
                <div *ngIf="submitted && c.department_id.errors" class="invalid-feedback">
                  <div *ngIf="c.department_id.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Puesto</label>
                <select [disableControl]="loader_data" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && c.job_id.errors }" id="job_id" name="job_id"
                  formControlName="job_id">
                  <option [ngValue]="job.id" *ngFor="let job of jobs_list">{{job.name}}</option>
                </select>
                <div *ngIf="submitted && c.job_id.errors" class="invalid-feedback">
                  <div *ngIf="c.job_id.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Tipo de Empleado</label>
                <select [disableControl]="loader_data" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && c.employee_type_id.errors }" id="employee_type_id"
                  name="employee_type_id" formControlName="employee_type_id">
                  <option [ngValue]="employee_type.id" *ngFor="let employee_type of employee_types_list">
                    {{employee_type.name}}</option>
                </select>
                <div *ngIf="submitted && c.employee_type_id.errors" class="invalid-feedback">
                  <div *ngIf="c.employee_type_id.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Sindicalizado</label>
                <select [disableControl]="loader_data" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && c.unionized_id.errors }" id="unionized_id" name="unionized_id"
                  formControlName="unionized_id">
                  <option [ngValue]="unionized.id" *ngFor="let unionized of unionized_list">{{unionized.description}}
                  </option>
                </select>
                <div *ngIf="submitted && c.unionized_id.errors" class="invalid-feedback">
                  <div *ngIf="c.unionized_id.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->

              <div class="col-md-3 form-group">
                <label>Turno de Trabajo</label>
                <select [disableControl]="loader_data" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && c.work_shift_id.errors }" id="work_shift_id"
                  name="work_shift_id" formControlName="work_shift_id">
                  <option [ngValue]="work_shifts.id" *ngFor="let work_shifts of work_shifts_list">{{work_shifts.name}}
                  </option>
                </select>
                <div *ngIf="submitted && c.work_shift_id.errors" class="invalid-feedback">
                  <div *ngIf="c.work_shift_id.errors.required">Este campo es requerido.</div>
                </div>
                <!--/invalid-feedback-->
              </div>
              <!--/form-group-->
            </div>
          </div>
        </div>
        <!--/form-row-->

      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Datos IMSS/Infonavit</a>
      <ng-template ngbNavContent>

        <div class="form-row">
          <div class="col-md-3 form-group">
            <label>Entidad Federativa</label>
            <input type="text" class="form-control" id="state" name="state" formControlName="state" maxlength="100"
              placeholder="Entidad Federativa" />
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Número de Crédito Infonavit</label>
            <input type="text" class="form-control" id="infonavit_credit_number" name="infonavit_credit_number"
              formControlName="infonavit_credit_number" maxlength="100" placeholder="Número de Crédito Infonavit" />
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Tipo de Descuento</label>
            <select [disableControl]="loader_data" class="form-control" id="discount_type_id" name="discount_type_id"
              formControlName="discount_type_id">
              <option [ngValue]="discount_type.id" *ngFor="let discount_type of discount_types_list">
                {{discount_type.name}}</option>
            </select>
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Factor Mensual</label>
            <input type="text" class="form-control" id="monthly_factor" name="monthly_factor"
              formControlName="monthly_factor" maxlength="100" placeholder="Factor Mensual" />
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>UMF</label>
            <input type="text" class="form-control" id="umf" name="umf" formControlName="umf" maxlength="100"
              placeholder="UMF" />
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Número Fonacot</label>
            <input type="text" class="form-control" id="fonacot_number" name="fonacot_number"
              formControlName="fonacot_number" maxlength="100" placeholder="Número Fonacot" />
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Salario Diario Real</label>
            <input type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && c.real_daily_salary.errors }" id="real_daily_salary"
              name="real_daily_salary" formControlName="real_daily_salary" currencyMask
              placeholder="Salario Diario Real" />
            <div *ngIf="submitted && c.real_daily_salary.errors" class="invalid-feedback">
              <div *ngIf="c.real_daily_salary.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Salario Diario IMSS</label>
            <input type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && c.imss_daily_salary.errors }" id="imss_daily_salary"
              name="imss_daily_salary" formControlName="imss_daily_salary" currencyMask
              placeholder="Salario Diario IMSS" />
            <div *ngIf="submitted && c.imss_daily_salary.errors" class="invalid-feedback">
              <div *ngIf="c.imss_daily_salary.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Salario Base de Cotización</label>
            <input type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && c.contribution_base_salary.errors }" id="contribution_base_salary"
              name="contribution_base_salary" formControlName="contribution_base_salary" currencyMask
              placeholder="Salario Base de Cotización" />
            <div *ngIf="submitted && c.contribution_base_salary.errors" class="invalid-feedback">
              <div *ngIf="c.contribution_base_salary.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Base de Cotización</label>
            <select [disableControl]="loader_data" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && c.contribution_base_id.errors }" id="contribution_base_id"
              name="contribution_base_id" formControlName="contribution_base_id">
              <option [ngValue]="contribution.id" *ngFor="let contribution of conribution_bases_list">
                {{contribution.description}}</option>
            </select>
            <div *ngIf="submitted && c.contribution_base_id.errors" class="invalid-feedback">
              <div *ngIf="c.contribution_base_id.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>No. de Afore</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.number_afore.errors }"
              id="number_afore" name="number_afore" formControlName="number_afore" maxlength="100"
              placeholder="No. de Afore" />
            <div *ngIf="submitted && c.number_afore.errors" class="invalid-feedback">
              <div *ngIf="c.number_afore.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>No. de Seguro Social</label>
            <input type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && c.social_security_number.errors }" id="social_security_number"
              name="social_security_number" formControlName="social_security_number" maxlength="100"
              placeholder="No. de Seguro Social" />
            <div *ngIf="submitted && c.social_security_number.errors" class="invalid-feedback">
              <div *ngIf="c.social_security_number.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->
        </div>
        <!--/form-row-->

      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Datos Bancarios</a>
      <ng-template ngbNavContent>

        <div class="form-row">
          <div class="col-md-3 form-group">
            <label>Método de Pago</label>
            <select [disableControl]="loader_data" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && c.payment_method_id.errors }" id="payment_method_id"
              name="payment_method_id" formControlName="payment_method_id">
              <option [ngValue]="payment_method.id" *ngFor="let payment_method of payment_methods_list">
                {{payment_method.description}}</option>
            </select>
            <div *ngIf="submitted && c.payment_method_id.errors" class="invalid-feedback">
              <div *ngIf="c.payment_method_id.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Banco para Pago Electrónico</label>
            <input type="text" class="form-control" id="back_electronic_payment" name="back_electronic_payment"
              formControlName="back_electronic_payment" maxlength="100" placeholder="Banco para Pago Electrónico" />
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Número de Cuenta</label>
            <input type="text" class="form-control" id="acount_number" name="acount_number"
              formControlName="acount_number" maxlength="100" placeholder="Número de Cuenta" />
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Cuenta Clabe</label>
            <input type="text" class="form-control" id="key_account" name="key_account" formControlName="key_account"
              maxlength="100" placeholder="Cuenta Clabe" />
          </div>
          <!--/form-group-->

          <div class="col-md-3 form-group">
            <label>Sucursal</label>
            <input type="text" class="form-control" id="branch_office" name="branch_office"
              formControlName="branch_office" maxlength="50" placeholder="Sucursal" />
          </div>
          <!--/form-group-->
        </div>
        <!--/form-row-->

      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Expediente</a>
      <ng-template ngbNavContent>

        <div class="row">

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                INE
              </div>
              <!--/card-header-->
              <div class="card-body">

                <button type="button" class="btn btn-danger btn-sm" *ngIf="ine_file_url_deleted == true"
                  (click)="ine_file_url_deleted = false; ine_files = [];">Cancelar</button>
                <div *ngIf="ine_file_url_deleted == true"><br /></div>

                <table class="table" *ngIf="workForm.value.ine_file_url != null && ine_file_url_deleted == false">
                  <thead>
                    <th>Descargar</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="ine_file_url_deleted == false && workForm.value.ine_file_url != null">
                      <td>
                        <a class="btn btn-info btn-sm" download href="{{ workForm.value.ine_file_url }}"><i
                            class="fa fa-cloud-download"></i></a>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteFileIneLoad()"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>


                <div class="form-row" *ngIf="ine_file_url_deleted == null || ine_file_url_deleted == true">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ine_file_label" name="ine_file"
                      (change)="onFileSelectIne($event)" />
                    <label class="custom-file-label" for="ine_file_label">Seleccionar Archivo</label>
                  </div>
                  <!--/custom-file-->
                </div>
                <!--/form-row-->

                <table class="table" *ngIf="ine_file_url_deleted == null || ine_file_url_deleted == true">
                  <thead>
                    <th>Nombre</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody *ngFor="let ifile of ine_files; let i = index">
                    <tr>
                      <td>{{ ifile.name }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteFileIne(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--/card-body-->
            </div>
            <!--/card-->
          </div>
          <!--/col-md-4-->

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Comprobante de Domicilio
              </div>
              <!--/card-header-->
              <div class="card-body">

                <button type="button" class="btn btn-danger btn-sm" *ngIf="address_file_url_deleted == true"
                  (click)="address_file_url_deleted = false; address_files = [];">Cancelar</button>
                <div *ngIf="address_file_url_deleted == true"><br /></div>

                <table class="table"
                  *ngIf="workForm.value.address_file_url != null && address_file_url_deleted == false">
                  <thead>
                    <th>Descargar</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="address_file_url_deleted == false && workForm.value.address_file_url != null">
                      <td>
                        <a class="btn btn-info btn-sm" download href="{{ workForm.value.address_file_url }}"><i
                            class="fa fa-cloud-download"></i></a>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteFileAddressLoad()"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-row" *ngIf="address_file_url_deleted == null || address_file_url_deleted == true">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="address_file_label" name="address_file"
                      (change)="onFileSelectAddress($event)" />
                    <label class="custom-file-label" for="address_file">Seleccionar Archivo</label>
                  </div>
                  <!--/custom-file-->
                </div>
                <!--/form-row-->

                <table class="table" *ngIf="address_file_url_deleted == null || address_file_url_deleted == true">
                  <thead>
                    <th>Nombre</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody *ngFor="let afile of address_files; let i = index">
                    <tr>
                      <td>{{ afile.name }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteFileAddress(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--/card-body-->
            </div>
            <!--/card-->
          </div>
          <!--/col-md-4-->

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                CURP
              </div>
              <!--/card-header-->
              <div class="card-body">

                <button type="button" class="btn btn-danger btn-sm" *ngIf="curp_file_url_deleted == true"
                  (click)="curp_file_url_deleted = false; curp_files = [];">Cancelar</button>
                <div *ngIf="curp_file_url_deleted == true"><br /></div>

                <table class="table" *ngIf="workForm.value.curp_file_url != null && curp_file_url_deleted == false">
                  <thead>
                    <th>Descargar</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="curp_file_url_deleted == false && workForm.value.curp_file_url != null">
                      <td>
                        <a class="btn btn-info btn-sm" download href="{{ workForm.value.curp_file_url }}"><i
                            class="fa fa-cloud-download"></i></a>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteFileCurpLoad()"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-row" *ngIf="curp_file_url_deleted == null || curp_file_url_deleted == true">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="curp_file_label" name="curp_file"
                      (change)="onFileSelectCurp($event)" />
                    <label class="custom-file-label" for="curp_file_label">Seleccionar Archivo</label>
                  </div>
                  <!--/custom-file-->
                </div>
                <!--/form-row-->

                <table class="table" *ngIf="curp_file_url_deleted == null || curp_file_url_deleted == true">
                  <thead>
                    <th>Nombre</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody *ngFor="let cfile of curp_files; let i = index">
                    <tr>
                      <td>{{ cfile.name }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteFileCurp(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--/card-body-->
            </div>
            <!--/card-->
          </div>
          <!--/col-md-4-->

        </div>
        <!--/row-->
        <div class="clearfix"></div>
        <br />

        <div *ngIf="workForm.value.work_status_id == 1" class="BreadCs">
          <h4>Documentos para Proceso de Alta</h4>
        </div>
        <!--/BreadCs-->

        <div class="clearfix"></div>

        <br />
        <br />

        <div class="row">

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Contrato
              </div>
              <!--/card-header-->
              <div class="card-body">

                <button type="button" class="btn btn-danger btn-sm" *ngIf="contract_file_url_deleted == true"
                  (click)="contract_file_url_deleted = false; contract_files = [];">Cancelar</button>
                <div *ngIf="contract_file_url_deleted == true"><br /></div>

                <table class="table"
                  *ngIf="workForm.value.contract_file_url != null && contract_file_url_deleted == false">
                  <thead>
                    <th>Descargar</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="contract_file_url_deleted == false && workForm.value.contract_file_url != null">
                      <td>
                        <a class="btn btn-info btn-sm" download href="{{ workForm.value.contract_file_url }}"><i
                            class="fa fa-cloud-download"></i></a>
                        <button *ngIf="workForm.value.work_status_id == 1" type="button" class="btn btn-danger btn-sm"
                          (click)="deleteFileContractLoad()"><i class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div *ngIf="contract_file_url_deleted == null || contract_file_url_deleted == true" class="form-row">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="contract_file_label" name="contract_file"
                      (change)="onFileSelectContract($event)" />
                    <label class="custom-file-label" for="contract_file_label">Seleccionar Archivo</label>
                  </div>
                  <!--/custom-file-->
                </div>
                <!--/form-row-->

                <table class="table" *ngIf="contract_file_url_deleted == null || contract_file_url_deleted == true">
                  <thead>
                    <th>Nombre</th>
                    <th *ngIf="workForm.value.work_status_id == 1">Eliminar</th>
                  </thead>
                  <tbody *ngFor="let cofile of contract_files; let i = index">
                    <tr>
                      <td>{{ cofile.name }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteFileContract(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--/card-body-->
            </div>
            <!--/card-->
          </div>
          <!--/col-md-4-->

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Alta del IMSS
              </div>
              <!--/card-header-->
              <div class="card-body">

                <button type="button" class="btn btn-danger btn-sm" *ngIf="imss_file_url_deleted == true"
                  (click)="imss_file_url_deleted = false; imss_files = [];">Cancelar</button>
                <div *ngIf="imss_file_url_deleted == true"><br /></div>

                <table class="table" *ngIf="workForm.value.imss_file_url != null && imss_file_url_deleted == false">
                  <thead>
                    <th>Descargar</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="imss_file_url_deleted == false && workForm.value.imss_file_url != null">
                      <td>
                        <a class="btn btn-info btn-sm" download href="{{ workForm.value.imss_file_url }}"><i
                            class="fa fa-cloud-download"></i></a>
                        <button *ngIf="workForm.value.work_status_id == 1" type="button" class="btn btn-danger btn-sm"
                          (click)="deleteFileImssLoad()"><i class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div *ngIf="imss_file_url_deleted == null || imss_file_url_deleted == true" class="form-row">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="imss_file_label" name="imss_file"
                      (change)="onFileSelectImss($event)" />
                    <label class="custom-file-label" for="imss_file_label">Seleccionar Archivo</label>
                  </div>
                  <!--/custom-file-->
                </div>
                <!--/form-row-->

                <table class="table" *ngIf="imss_file_url_deleted == null || imss_file_url_deleted == true">
                  <thead>
                    <th>Nombre</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody *ngFor="let imfile of imss_files; let i = index">
                    <tr>
                      <td>{{ imfile.name }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteFileImss(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--/card-body-->
            </div>
            <!--/card-->
          </div>
          <!--/col-md-4-->

        </div>
        <!--/row-->

        <div class="clearfix"></div>

        <br />
        <br />

        <div *ngIf="workForm.value.work_status_id == 3" class="BreadCs">
          <h4>Información para Proceso de Baja</h4>
        </div>
        <!--/BreadCs-->
        <div *ngIf="workForm.value.work_status_id == 4" class="BreadCs">
          <h4>Información para Baja</h4>
        </div>
        <!--/BreadCs-->

        <div class="clearfix"></div>

        <br />
        <br />

        <div *ngIf="workForm.value.work_status_id == 4 || workForm.value.work_status_id == 5" class="row">

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Baja del IMSS
              </div>
              <!--/card-header-->
              <div class="card-body">

                <button type="button" class="btn btn-danger btn-sm" *ngIf="baja_imss_file_url_deleted == true"
                  (click)="baja_imss_file_url_deleted = false; baja_imss_files = [];">Cancelar</button>
                <div *ngIf="baja_imss_file_url_deleted == true"><br /></div>

                <table class="table"
                  *ngIf="workForm.value.baja_imss_file_url != null && baja_imss_file_url_deleted == false">
                  <thead>
                    <th>Descargar</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="baja_imss_file_url_deleted == false && workForm.value.baja_imss_file_url != null">
                      <td>
                        <a class="btn btn-info btn-sm" download href="{{ workForm.value.baja_imss_file_url }}"><i
                            class="fa fa-cloud-download"></i></a>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteFileBajaImssLoad()"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div *ngIf="baja_imss_file_url_deleted == null || baja_imss_file_url_deleted == true" class="form-row">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="baja_imss_file_label" name="baja_imss_file"
                      (change)="onFileSelectBajaImss($event)" />
                    <label class="custom-file-label" for="baja_imss_file_label">Seleccionar Archivo</label>
                  </div>
                  <!--/custom-file-->
                </div>
                <!--/form-row-->

                <table class="table" *ngIf="baja_imss_file_url_deleted == null || baja_imss_file_url_deleted == true">
                  <thead>
                    <th>Nombre</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody *ngFor="let imfile of baja_imss_files; let i = index">
                    <tr>
                      <td>{{ imfile.name }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteFileBajaImss(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--/card-body-->
            </div>
            <!--/card-->
          </div>
          <!--/col-md-4-->

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Finiquito
              </div>
              <!--/card-header-->
              <div class="card-body">

                <button type="button" class="btn btn-danger btn-sm" *ngIf="finiquito_file_url_deleted == true"
                  (click)="finiquito_file_url_deleted = false; finiquito_files = [];">Cancelar</button>
                <div *ngIf="baja_imss_file_url_deleted == true"><br /></div>

                <table class="table"
                  *ngIf="workForm.value.finiquito_file_url != null && finiquito_file_url_deleted == false">
                  <thead>
                    <th>Descargar</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="finiquito_file_url_deleted == false && workForm.value.finiquito_file_url != null">
                      <td>
                        <a class="btn btn-info btn-sm" download href="{{ workForm.value.finiquito_file_url }}"><i
                            class="fa fa-cloud-download"></i></a>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteFileFiniquitoLoad()"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div *ngIf="finiquito_file_url_deleted == null || finiquito_file_url_deleted == true" class="form-row">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="finiquito_file_label" name="finiquito_file"
                      (change)="onFileSelectFiniquito($event)" />
                    <label class="custom-file-label" for="finiquito_file_label">Seleccionar Archivo</label>
                  </div>
                  <!--/custom-file-->
                </div>
                <!--/form-row-->

                <table class="table" *ngIf="finiquito_file_url_deleted == null || finiquito_file_url_deleted == true">
                  <thead>
                    <th>Nombre</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody *ngFor="let fifile of finiquito_files; let i = index">
                    <tr>
                      <td>{{ fifile.name }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteFileFiniquito(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--/card-body-->
            </div>
            <!--/card-->
          </div>
          <!--/col-md-4-->

        </div>
        <!--/-->

        <div class="clearfix"></div>
        <br />

        <div
          *ngIf="workForm.value.work_status_id == 3 || workForm.value.work_status_id == 4 || workForm.value.work_status_id == 5"
          class="form-row">

          <div class="form-group">
            <label>Fecha de Baja</label>
            <div class="input-group">
              <input class="form-control" [ngClass]="{ 'is-invalid': submitted && c.baja_imss_date.errors }"
                placeholder="yyyy-mm-dd" name="baja_imss_date" ngbDatepicker #d3="ngbDatepicker"
                formControlName="baja_imss_date">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary calendar" (click)="d3.toggle()"><i
                    class="fa fa-calendar"></i></button>
              </div>
              <!--/input-group-append-->
            </div>
            <!--/input-group-->
            <div *ngIf="submitted && c.baja_imss_date.errors" class="invalid-feedback">
              <div *ngIf="c.baja_imss_date.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

          <div class=" form-group">
            <label>Causa de Baja</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.causa_baja.errors }"
              id="causa_baja" name="causa_baja" formControlName="causa_baja" maxlength="100"
              placeholder="Causa de Baja" />
            <div *ngIf="submitted && c.causa_baja.errors" class="invalid-feedback">
              <div *ngIf="c.causa_baja.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

          <div class="col-md-8 form-group">
            <label>Observaciones</label>
            <input type="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && c.observations_baja.errors }" id="observations_baja"
              name="observations_baja" formControlName="observations_baja" maxlength="200"
              placeholder="Observaciones" />
            <div *ngIf="submitted && c.observations_baja.errors" class="invalid-feedback">
              <div *ngIf="c.observations_baja.errors.required">Este campo es requerido.</div>
            </div>
            <!--/invalid-feedback-->
          </div>
          <!--/form-group-->

        </div>
        <!--/form-row-->
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Incidencias</a>
      <ng-template ngbNavContent>

        <div class="row mt-2">

          <!-- Actas administrativas -->
          <div class="col-md-4 mt-3">
            <app-file-manager [fieldName]="'Actas Administrativas'" (listNew)="changeListNewAdmin($event)"
              [listCurrent]="listAdminCurrent" (listCurrentFiles)="listenerCurrentAdminFiles($event)">
            </app-file-manager>
          </div>
          <!-- Actas administrativas -->

          <!-- Incapacidades -->
          <div class="col-md-4 mt-3">
            <app-file-manager [fieldName]="'Incapacidades'" (listNew)="changeListNewDisabilities($event)"
              [listCurrent]="listDisabilitiesCurrent" (listCurrentFiles)="listenerCurrentDisabilitiesFiles($event)">
            </app-file-manager>
          </div>
          <!-- Incapacidades -->

          <!-- Demandas -->
          <div class="col-md-4 mt-3">
            <app-file-manager [fieldName]="'Demandas'" (listNew)="changeListNewDemands($event)"
              [listCurrent]="listDemandsCurrent" (listCurrentFiles)="listenerCurrentDemandsFiles($event)">
            </app-file-manager>
          </div>
          <!-- Demandas -->


          <!-- Finiquito -->
          <div class="col-md-4 mt-3">
            <div class="card">
              <div class="card-header">
                Finiquito
              </div>
              <!--/card-header-->
              <div class="card-body">

                <button type="button" class="btn btn-danger btn-sm" *ngIf="finiquito_file_url_deleted == true"
                  (click)="finiquito_file_url_deleted = false; finiquito_files = [];">Cancelar</button>
                <div *ngIf="baja_imss_file_url_deleted == true"><br /></div>

                <table class="table"
                  *ngIf="workForm.value.finiquito_file_url != null && finiquito_file_url_deleted == false">
                  <thead>
                    <th>Descargar</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="finiquito_file_url_deleted == false && workForm.value.finiquito_file_url != null">
                      <td>
                        <a class="btn btn-info btn-sm" download href="{{ workForm.value.finiquito_file_url }}"><i
                            class="fa fa-cloud-download"></i></a>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteFileFiniquitoLoad()"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div *ngIf="finiquito_file_url_deleted == null || finiquito_file_url_deleted == true" class="form-row">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="finiquito_file_label" name="finiquito_file"
                      (change)="onFileSelectFiniquito($event)" />
                    <label class="custom-file-label" for="finiquito_file_label">Seleccionar Archivo</label>
                  </div>
                  <!--/custom-file-->
                </div>
                <!--/form-row-->

                <table class="table" *ngIf="finiquito_file_url_deleted == null || finiquito_file_url_deleted == true">
                  <thead>
                    <th>Nombre</th>
                    <th>Eliminar</th>
                  </thead>
                  <tbody *ngFor="let fifile of finiquito_files; let i = index">
                    <tr>
                      <td>{{ fifile.name }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteFileFiniquito(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--/card-body-->
            </div>
            <!--/card-->
          </div>
          <!-- End Finiquito -->

        </div>

      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <div class="form-row">


  </div>
  <!--/form-row-->





  <div class="AllBtnsAction">

    <button
      *ngIf="workForm.value.work_status_id == 1 && workForm.value.contract_file_url != null && workForm.value.imss_file_url != null "
      class="btn btn-info">Convertir a Activo</button>
    <div class="BtnCrear">
      <button *ngIf="loader_data == false" type="submit" id="BtnCrear" class="BtnCrear btn">
        <i class="material-icons" style="vertical-align: middle;">check_circle_outline</i>
        {{ button_save }}
      </button>
      <i *ngIf="loader_data == true" class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
    </div>
    <!--/BtnCrear-->
  </div>
  <!--/AllBtnsAction-->

</form>
